.title_principal {
    margin-bottom: 25px;
}

.fh5co-parallax .fh5co-intro.box-area {
    background-image: none;
}

.fh5co-parallax .fh5co-intro.box-area:hover {
    background-image: none;
}

.h2_title_black {
	font-size: 52px;
}

.btn.btn-default:hover, .btn.btn-default:focus, .btn.btn-default:active {
    border-color: aliceblue;
}

.breadcrumb {
    padding: 20px 15px;
    color:#fff;
    margin-bottom: 0px;
    list-style: none;
}

.breadcrumb a {
	color:#fff;
}

.fh5co-blog .desc h3 {
    max-height: 58px;
}

.text_blog {
    max-height: 60px;
}

#filters {
    text-align: center;
    margin-bottom: 30px;
}

#filters .button {
    background: #00b1e8;
    color: #fff;
    border: none;
    padding: 5px 15px;
}

#filters .button:hover {
    background: #ff005c;
}

.element-item {
    text-align: center;
    max-width: 31%;
    margin-left: 1%;
    margin-right: 1%;
}

.element-item img {
    width: 100%;
}

.fh5co-blog {
    border-bottom: 0px none;
}

.video-gal img{
    width: 100%;
}

.video-titulo {
    margin-top: 16px;
    margin-bottom: 14px;
}

@media screen and (max-width: 1199px) {
	.element-item {
	    max-width: 48%;
	}
}
@media screen and (max-width: 768px) {
	.title_principal {
        text-align: center;
        font-size: 44px;
    }
    .fh5co-table, .fh5co-table-cell, .fh5co-parallax {
        height: 210px;
    }
    .fh5co-parallax .fh5co-intro.box-area {
        padding: 0px;
    }
    .fh5co-cover, .fh5co-hero {
        height: 500px;
    }
    .boton-banner{
        text-align: center;
    }
    .element-item {
	    max-width: 100%;
	    margin-left: 0%;
	    margin-right: 0%;
	}
    .img-responsive {
        width: 100%;
        max-width: inherit;
    }
    .fh5co-blog .desc h3 {
        max-height: inherit;
    }
    .h1-que-hacemos{
        font-size: 23px;
        line-height: initial;
        margin-bottom: 24px;
    }
    .fh5co-parallax {
        height: inherit;
        padding: 0em 0;
    }
    .fh5co-table-cell {
        vertical-align: bottom;
    }
}
@media screen and (max-width: 325px) {
    .fh5co-table, .fh5co-table-cell, .fh5co-parallax {
        height: 245px;
    }
}